.popup__save-btn {
  height: 50px;
  background: #000;
  border: none;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  margin: 18px 0 0;
  padding: 0;
}

.popup__save-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .popup__save-btn {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 15px 0 0;
  }
}
